.flex-row {
  display: flex;
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.pt-20 {
  padding-top: 20px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}